{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ encore_entry_link_tags('checkout') }}
{% endblock %}
{% block title %}Carrito{% endblock %}
{% block body %}
<div class="container">
  <div id="Checkout" class="inline">
      <h1>Realizar pago</h1>
      <div class="card-row">
          <span class="visa"></span>
          <span class="mastercard"></span>
      </div>
      <form action={{ path('cart_pay')}} method="post">
          <div class="form-group">
              <label for="PaymentAmount">Cantidad a pagar</label>
              <div class="amount-placeholder">
                  <span>{{total}}</span>
                  <span>€</span>
              </div>
          </div>
          <div class="form-group">
              <label or="nameOnCard">Titular de la tarjeta</label>
              <input id="nameOnCard" name="nameOnCard" class="form-control" type="text" maxlength="255"></input>
          </div>
          <div class="form-group">
              <label for="creditCardNumber">Número de tarjeta</label>
              <input id="creditCardNumber" name="creditCardNumber" class="null card-image form-control" type="text"></input>
          </div>
          <div class="expiry-date-group form-group">
              <label for="expiryDate">Fecha de vencimiento</label>
              <input id="expiryDate" name="expiryDate" class="form-control" type="text" placeholder="MM / YY" maxlength="7"></input>
          </div>
          <div class="security-code-group form-group">
              <label for="securityCode">Código de seguridad (CVC)</label>
              <div class="input-container" >
                  <input id="securityCode" name="securityCode" class="form-control" type="text" ></input>
                  <i id="cvc" class="fa fa-question-circle"></i>
              </div>
          </div>
          <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
              <span class="submit-button-lock"></span>
              <span class="align-middle">Pagar {{total}}€</span>
          </button>
      </form>
  </div>
</div>
{% endblock %}