{% extends "base.html.twig" %}
{% block title %}Home | {{parent()}} {% endblock %}
{% block body %}

{% for login in app.flashes('login') %}
    <div class="flash-login">
        {{ login }}
    </div>
{% endfor %}

<div data-controller="click">
    <button class="btn btn-primary btn-sm" data-action="click->click#incrementar">Click me</button>
    Has hecho <span data-click-target='count'>0</span> clicks
</div>

<h1>{{name}}</h1>
<a href="{{ path('app_search') }}">Buscar</a>
{# href="path(app_search,{
    'search': 'input'
})" #}
<div>
    HOME
</div>

{% endblock %}