{% extends 'base.html.twig' %}

{% block title %}Zona de administración{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<h1>Zona de administración</h1>
<ul>
    <li><a href={{path('admin_create')}}><h5>Crear Producto</h5></a></li>
    <li><a href={{path('admin_orders')}}><h5>Revisar pedidos</h5></a></li>
</ul>
{% endblock %}
